body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  main#app {
    width: 1000px;
  }
} 

select {
  background-color: rgb(250, 251, 254);
  border: 1px solid rgba(65, 78, 125, 0.25);
  border-radius: 10px;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(30, 37, 62, .75);
  margin: 0 10px;
  min-width: 100px;
} select:hover {
  background-color: rgba(158, 174, 232, 0.05);
  border: 1px solid rgba(65, 78, 125, 0.5);
  color: rgb(30, 37, 62, 1);
} select, ::picker(select) {
  appearance: base-select;
  border-radius: 10px;
  border: 1px solid rgba(65, 78, 125, 0.5);
  background-color: rgb(250, 251, 254);
} ::picker(select) {
  height: 250px;
  margin: 10px 0;
} ::checkmark {
  display: none;
} option {
  padding: 10px;
  font-size: 16px;
  color: rgb(30, 37, 62, .75);
} option:hover {
	background-color: rgba(158, 174, 232, 0.1);
	color: rgb(30, 37, 62, 1);
} option:checked {
	background-color: rgba(158, 174, 232, 0.25);
	color: rgb(30, 37, 62, 1);
} option:checked:hover {
	background-color: rgba(158, 174, 232, .5);
	color: rgb(30, 37, 62, 1);
} ::picker(select)::-webkit-scrollbar {
  width: 8px;
} ::picker(select)::-webkit-scrollbar-track {
  border-radius: 10px;
} ::picker(select)::-webkit-scrollbar-thumb {
  background: rgba(65, 78, 125, 1);
  border-radius: 10px;
}