body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  main#app {
    width: 1000px;
    button {
      padding: 10px;
      width: 35px;
      height: 35px;
      outline: none;
      border-radius: 10px;
      border: 1px solid rgba(65, 78, 125, 0.25);
      background-color: rgba(158, 174, 232, 0);
      color: rgb(30, 37, 62, 0.75);
      cursor: pointer;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    } button:hover {
    background-color: rgba(158, 174, 232, 0.075);
    color: rgb(30, 37, 62,1);
    }
  }
} 