body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a {
  text-decoration: none;
  font-size: 16px;
} p {
  font-size: 16px;
}

button {
	background-color: rgb(250, 251, 254)!important;
  border: 1px solid rgba(65, 78, 125, 0.25)!important;
	margin: 5px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	color: rgb(30, 37, 62, .75);
  margin: 15px 0;
  padding: 20px 35px;
} button:hover {
	background-color: rgba(158, 174, 232, 0.05)!important;
  border: 1px solid rgba(65, 78, 125, 0.5)!important;
	color: rgb(30, 37, 62, 1);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  main#app {
    height: 100vh;
    width: 1000px;
  }
} 

button#nav {
  padding: 10px;
  width: 35px;
  height: 35px;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(65, 78, 125, 0.25)!important;
  background-color: rgba(158, 174, 232, 0)!important;
  color: rgb(30, 37, 62, 0.75);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
  }
} button#nav:hover {
  border: 1px solid rgba(65, 78, 125, 0.5)!important;
  background-color: rgba(158, 174, 232, 0.075)!important;
  color: rgb(30, 37, 62,1);
}

select {
  background-color: rgb(250, 251, 254)!important;
  border: 1px solid rgba(65, 78, 125, 0.25)!important;
  border-radius: 10px;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(30, 37, 62, .75)!important;
  margin: 0 10px;
  min-width: 100px;
} select:hover {
  background-color: rgba(158, 174, 232, 0.05)!important;
  border: 1px solid rgba(65, 78, 125, 0.5)!important;
  color: rgb(30, 37, 62, 1);
} select, ::picker(select) {
  appearance: base-select;
  border-radius: 10px;
  border: 1px solid rgba(65, 78, 125, 0.25)!important;
  background-color: rgb(250, 251, 254)!important;
} ::picker(select) {
  height: 250px;
  margin: 10px 0;
} ::checkmark {
  display: none;
} option {
  padding: 10px;
  font-size: 16px;
  color: rgb(30, 37, 62, .75);
} option:hover {
	background-color: rgba(158, 174, 232, 0.1)!important;
	color: rgb(30, 37, 62, 1);
} option:checked {
	background-color: rgba(158, 174, 232, 0.25)!important;
	color: rgb(30, 37, 62, 1);
} option:checked:hover {
	background-color: rgba(158, 174, 232, .5)!important;
	color: rgb(30, 37, 62, 1);
} ::picker(select)::-webkit-scrollbar {
  width: 8px;
} ::picker(select)::-webkit-scrollbar-track {
  background-color: rgba(158, 174, 232, 0.1)!important;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
} ::picker(select)::-webkit-scrollbar-thumb {
  background: rgba(65, 78, 125, 1)!important;
  border-radius: 10px;
  min-height: 15px;
}

@media (max-width: 500px) {
  select {
    margin: 0;
  }
}