footer {
  display: flex;
  justify-content: space-between;

  margin: 50px 5px 25px 5px;
  p {
    color: rgb(30, 37, 62,.75);
  }

  a {
    color: rgb(75, 114, 255, .75);
  } a:hover {
    color: rgb(75, 114, 255);
    text-decoration: underline;
  }
}

@media (max-width: 750px) {
  footer {
    padding: 0 25px;
  }
}