#footer-container {
    display: flex;
    justify-content: space-between;

    margin: 5px;
    p {
        color: rgb(30, 37, 62,.75);
    }
    a {
        color: rgb(75, 114, 255, .75);
    } a:hover {
        color: rgb(75, 114, 255);
        text-decoration: underline;
    }
}