header {

  nav {
    padding: 25px 5px;
		display: flex;
  }

  a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: 0 10px 0 0;
    color: rgb(30, 37, 62,.75);
    font-weight: 500;
    cursor: pointer;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 5px;
  	}
  } a:hover {
    background-color: rgba(158, 174, 232, 0.09);
    border-radius: 10px;
    color: rgb(30, 37, 62, 1);
	}

  button#open-mobile-nav {
    display: none;
    padding: 10px;
    width: 35px;
    height: 35px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgba(65, 78, 125, 0.25);
    background-color: rgba(158, 174, 232, 0);
    color: rgb(30, 37, 62, 0.75);
    cursor: pointer;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  } button#open-mobile-nav:hover {
    background-color: rgba(158, 174, 232, 0.075);
    color: rgb(30, 37, 62,1);
  }
}

#background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;

  background-color: rgba(30, 37, 62, 0.50);
  margin: 0;
  padding: 0;
  opacity: 1;

  #mobile-menu {
    width: 50%;
    height: 100%;
    background-color: rgb(250,251,254);

    padding: 25px;
    #mobile-menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 10px;
      div#user {
        padding: 0 0 0 15px;
        p#name {
          margin: 0;
          color: rgba(30, 37, 62, 1);
          font-weight: 500;
        }
        p#branch {
          font-size: 12px;
          font-weight: normal;
          color: rgba(30, 37, 62, .75);
          margin: 10px 0;
          width: 90%;
        }
      }
      button#close-mobile-nav {
        padding: 10px;
        width: 35px;
        height: 35px;
        outline: none;
        border-radius: 10px;
        border: 1px solid rgba(65, 78, 125, 0.25);
        background-color: rgba(158, 174, 232, 0);
        color: rgb(30, 37, 62, 0.75);
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
          padding: 0;
          width: 25px;
          height: 25px;
        }
      } button#close-mobile-nav:hover {
        background-color: rgba(158, 174, 232, 0.075);
        color: rgb(30, 37, 62,1);
      }
    }

    ul {
      overflow-y: scroll;

      padding: 0;
      max-height: 50%;
      a#item {
        margin: 10px 0;
        font-weight: normal;
        cursor: pointer;
        span {
          margin-right: 10px;
        }
      }
    }
    ul::-webkit-scrollbar {
      width: 4px;
    } ul::-webkit-scrollbar-track {
      border-radius: 10px;
    } ul::-webkit-scrollbar-thumb {
      background: rgba(65, 78, 125, 0.25);
      border-radius: 10px;
    } 
  }
}

#background.invisible {display: none;}
@media (max-width: 750px) {
  #background.visible {display: block;}
}

@media (max-width: 750px) {
  header {
    nav {a {display: none;} padding: 25px 30px;}
    button#open-mobile-nav {display: block;}
  }

  #background {display: block;}
}

@media (max-width: 500px) {
  #background {
    #mobile-menu {width: 75%;}
  }
}

@media (max-width: 350px) {
  #background {#mobile-menu {width: 100%;}}
}