header {
    padding: 25px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        padding: 15px 20px;
        margin: 0 10px 0 0;
        color: rgb(30, 37, 62,.75);
        font-weight: 500;
    } a:hover {
        background-color: rgba(158, 174, 232, 0.09);
        border-radius: 10px;
        color: rgb(30, 37, 62, 1);
    }

    button#open-mobile-nav {
        display: none;
        padding: 10px;

        width: 35px;
        height: 35px;

        outline: none;
        border-radius: 10px;
        border: 1px solid rgba(65, 78, 125, 0.25);
        background-color: rgba(158, 174, 232, 0);
        color: rgb(30, 37, 62, 0.75);
        cursor: pointer;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    } button#open-mobile-nav:hover {
        background-color: rgba(158, 174, 232, 0.075);
        color: rgb(30, 37, 62,1);
    }
}

#background-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: rgba(30, 37, 62, 0.75);
    margin: 0;
    padding: 0;
    opacity: 1;

    animation-name: background-show;
    animation-duration: .25s;

    #mobile-menu {
        animation-name: slide-in;
        animation-duration: .25s;

        width: 50%;
        height: 100%;

        background-color: rgb(250,251,254);
        nav {
            display: flex;
            flex-direction: column;
            padding: 25px;

            div#mobile-menu-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p#user {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    color: rgb(30, 37, 62,1);
                    font-weight: 500;
                    font-size: 16px;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        width: 25px;
                        height: 25px;
                    }
                }

                button#close-mobile-nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    padding: 10px;
                    cursor: pointer;
                
                    outline: none;
                    border-radius: 10px;
                    border: 1px solid rgba(65, 78, 125, 0.25);
                    background-color: rgba(158, 174, 232, 0);
                    color: rgb(30, 37, 62,.75);        
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 35px;
                        height: 35px;
                    }

                } button#close-mobile-nav:hover {
                    background-color: rgba(158, 174, 232, 0.075);
                    color: rgb(30, 37, 62,1);
                }
            }

            a {
                display: flex;
                align-items: center;
                padding: 15px 20px;
                margin: 0 10px 0 0;
                color: rgb(30, 37, 62,.75);
                font-weight: 500;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-right: 10px;
                    width: 25px;
                    height: 25px;
                }
            } a:hover {
                background-color: rgba(158, 174, 232, 0.09);
                border-radius: 10px;
                color: rgb(30, 37, 62, 1);
            }
        }
    }
}

#background-menu.invisible {
    display: none;
}

#background-menu.visible {
    display: block;
}

@media (max-width: 750px) {
    header {
        nav {
            a {
                display: none;
            }
        }

        button#open-mobile-nav {
            display: block;
        }
    }

    #background-menu {
        display: block;
    }
}

@media (max-width: 475px) {
    #background-menu {
        #mobile-menu {
            width: 75%;
        }
    }
}

@media (max-width: 350px) {
    #background-menu {
        #mobile-menu {
            width: 100%;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes background-show {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes background-hide {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}