#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    article {
        background-color: rgba(158, 174, 232, 0.05);
        border: 1px solid rgba(65, 78, 125, 0.25);
        border-radius: 10px;

        flex-grow: 1;
        flex-basis: 300;
        padding: 10px;
        margin: 5px;

        color: #222;

        #header {
            padding: 5px 15px;
            margin: 0;
            
            color: #000;
            text-align: center;
            font-weight: 500;
        } 
        
        #data-container {
            display: flex;
            justify-content: space-between;
            div {
                margin: 0 20px;
            }
        }
    }
}