main#schedule {
  h1 {
    margin: 25px 5px;
    font-size: 24px;
    color: rgb(30, 37, 62, 1);
    display: flex;
    align-items: center;
    p#scheduleDate {
      font-size: 16px;
      color: rgb(30, 37, 62, .75);
      font-weight: normal;
      margin-left: 15px;
    }
  }

  div#controlPanel {
    margin: 5px;
    nav {
      display: flex;
      align-items: center;
      p {
        color: rgb(30, 37, 62, 1);
        font-size: 16px;
      }
    }

    button {
      padding: 20px 35px;
    }
  }

  section#render {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    gap: 10px 5px;
    article {
      border: 1px solid rgba(65, 78, 125, 0.25);
      border-radius: 10px;
      margin: 0 5px;
      box-sizing: border-box;
      padding: 10px;
      color: rgb(30, 37, 62, .75);
      font-size: 16px;
      #header {
        padding: 5px 15px;
        margin: 0;
        color: rgb(30, 37, 62, 1);
        text-align: center;
        font-weight: 500;
      } 

    	#data-container {
        table {
          width: 100%;
          margin: 15px 0;

          td {
            width: 50%;
            padding: 15px 0;
            text-align: center;
            vertical-align: text-top;
          }
        }
    	}
    }
  }

  section#notice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    p {color: rgb(30, 37, 62, 1);}
    button {
			background-color: rgb(250, 251, 254);
      border: 1px solid rgba(65, 78, 125, 0.25);
			padding: 10px 25px;
			margin: 5px;
			border-radius: 10px;
			cursor: pointer;

			font-size: 16px;
			color: rgb(30, 37, 62, .75);

      margin: 15px 0;
      padding: 20px 35px;
    } button:hover {
			background-color: rgba(158, 174, 232, 0.05);
      border: 1px solid rgba(65, 78, 125, 0.5);
			color: rgb(30, 37, 62, 1);
    }
  }
}

@media (max-width: 750px) {
  #schedule {
    padding: 25px;
  }
}

@media (max-width: 500px) {
  main#schedule {
    h1 {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      p#scheduleDate {
        margin-left: 0;
      }
    }
    div#controlPanel {
      nav {
        justify-content: space-between;
      } button {
        width: 100%;
      }
    }
  }
}